
<div id="pageHeader">
	<div class = "container">
		<div style="padding: 0px 30px">
		  <h1>Paul Li</h1>find more about me!		
		</div>
	</div>
</div>
<div id = "mainContent">
	<div class = "container">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<%= image_tag("face.jpg", alt: "Example Image", :class => 'image img-rounded floatLeft') %>
			<div class = "floatLeft" style="width: 100%;">
			    <h1>Paul Li</h2>
			    <hr style="margin-bottom: 20px">
			    <p>
			    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			    </p>
			</div>

			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-default" href="#" role="button">Events</a>
				<a class="btn btn-default" href="#" role="button">Clubs</a>
				<a class="btn btn-default" href="#" role="button">Other</a>
			</div>
			<a class="btn btn-default btnBottomRight" href="#" role="button">Contact</a>
			

		  </div>
		</div>

		<div class="panel panel-default">
			<div class="row">
				<div class="col-xs-6 col-md-4">
					<%= image_tag("face.jpg", alt: "Example Image", :class => 'image img-rounded col-centered') %>
				</div>
			  <div class="col-xs-12 col-sm-6 col-md-8">
			    <p>
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		    		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		    		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		    	</p>
			  </div>
			  
			</div>
		</div>

	</div>
</div>