
<div id="pageHeader">
	<div class = "container">
		<div style="padding: 0px 30px">
			<h1>Paul Li</h1><p>find more about me!</p>
		</div>
	</div>
</div>
<div id = "mainContent">
	<div class = "container">
		<div class="panel panel-default" style="overflow:auto">
			<div class="panel-body">


				<span class="clearfix"></span>

				<div class="row">
					<div class="col-md-4 "><%= image_tag("face.jpg", alt: "Example Image", :class => 'img-rounded center') %>
					</div>
					<div class="col-md-8">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>

				<div class="btn-group btn-group-justified">
					<a href="#" class="btn btn-default">Events</a>
					<a href="#" class="btn btn-default">Clubs</a>
					<a href="#" class="btn btn-default">Other</a>
				</div>
			</div>
		</div>



	</div>
</div>