<div id="pageHeader">
	<div class = "container">
		<div style="padding: 0px 30px">
		  <h1>Contact</h1><p>Keep in touch with me!</p>
		</div>
	</div>
</div>
<div id = "mainContent">
<span style="margin: 10px"></span>
<div class = "container">
	<div class="row">
	  <div class="col-xs-12 col-sm-4 center" style="border-width: 0px">
	  	<div class= "panel panel-default">
	  		<div class = "panel-body">
	  			<h3>Phone</h3>
	  			<hr>
	  			<p class = "pStyle">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
	  			</p>
			  	<button class="btn btn-default btn-md" type="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 10px; padding: 10px 20px;">
			    Large button 
			  	</button>
		  	</div>
		</div>
	  </div>
	  <div class="col-xs-12 col-sm-4 center">
	  	<div class= "panel panel-default">
	  		<div class = "panel-body">
	  			<h3>Email</h3>
	  			<hr>
	  			<p class = "pStyle">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
	  			</p>
			  	<button class="btn btn-default btn-md" type="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 10px; padding: 10px 20px;">
			    Large button 
			  	</button>
		  	</div>
		</div>
	  </div>
	  <div class="col-xs-12 col-sm-4 center">
	  	<div class= "panel panel-default">
	  		<div class = "panel-body">
	  			<h3>Email</h3>
	  			<hr>
	  			<p class = "pStyle">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?
	  			</p>
			  	<button class="btn btn-default btn-md" type="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 10px; padding: 10px 20px;">
			    Large button 
			  	</button>
		  	</div>
		</div>
	  </div>
	</div>
</div>
</div>