<div class = "container">
	<div class="jumbotron , center">
	  <h1>Paul Li</h1>
	  <p>Inspring young programer.</p>
	  <p>Highly devoted and passionate about programing. Always enjoys trying new things and tackling challenging problems.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>
<div id = "mainContent">
	<div class = "container">
		<h2>Hello <small>this is my content</small></h2>
		<hr>
	</div>
</div>