$body-bg:			#58A4B0;
$navbar-default-bg: #D8DBE2;
$container-desktop: 700px;
$container-large-desktop: 820px;
$jumbotron-bg: #58A4B0;
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body{

	margin-bottom: 160px;
}

.footer {
	padding-top: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: #1B1B1E;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}
 
 #mainContent{
  width: 100%;
  min-height: 400px; 
  margin: 0px;
  background-color: #D8DBE2;
 }