<footer>
    	<div class="container">
    		<div class="footerContainer">


    			<div class="row centerText">
    				<div class="col-md-4">
    					<a href="#" class="footerButton">home</a>
    				</div>
    				<div class="col-md-4">
						<a href="#" class="footerButton">home</a>
    				</div>
    				<div class="col-md-4">
						<a href="#" class="footerButton">home</a>
    				</div>
    			</div>
    			<div class="row centerText">
    				<div class="col-md-6">.col-md-1</div>
    				<div class="col-md-6">.col-md-1</div>
    			</div>
    			<div class="centerText">

    			</div>
    			<hr>
    		</div>
    		<p class="centerText">Developed and Created by Paul Li</p>
    	</div>
    </footer>
