    <footer class="footer">
      <div class="container">
        <div class="row">
				  <div class="col-md-4">
				  	<div class="right">
				  		<h4><b>Bootstrap heading</b></h4>

				  	</div>
				  </div>
				  <div class="col-md-4">
				  	<div class="center">
				  		<h4><b>Bootstrap heading</b></h4>
				  	</div>
				  </div>
				  <div class="col-md-4">
				  	<div class="left">
				  		<h4><b>About Me</b></h4>
				  		<a class="btn btn-default" href="#" role="button">Link</a>
				  	</div>
				  </div>
				</div>
      </div>
    </footer>